<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en"> 
    <title>main</title>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
 
    <link type="text/css" rel="stylesheet" href="/public/css/main.css">
 </head>

 <style>

 </style>
 
  <body>
    <div class="wrapper">
      <section class="grid-wrapper">
        <header>
          <h3 id="mainTitle">Virtual Robot Library</h3>
            <div class="filter-controls">
              <div class="control">Search
                <input class="search-field form-control" type="text" name="search" placeholder="Enter the robot name">
              </div>
              <div class="control">Filter
                <select class="filter-field form-control">
                  <option value="">none</option>
                  <option value="KHI">KHI</option>
                  <option value="NACHI">NACHI</option>
                  <option value="YASKAWA">YASKAWA</option>
                  <option value="FANUC">FANUC</option>
                </select>
              </div>
              <div class="control">Sort
                <select class="sort-field form-control">
                  <option value="order">None</option>
                  <option value="color">Order by Reach</option>     <!--data-color-->
                  <option value="title">Order by Payload</option>   <!--data-title-->
                </select>
              </div>
            </div>
          </header>
            <div class="grid">            
              <div class="item NACHI" data-scolor="1000mm" data-title="100kg">
                <div class="item-content">
                  <!-- Safe zone, enter your custom markup -->
                    <div class="custom-content">
                      <img src="public\png\KHI\UX120-E001-C52-TMC-SPT.ini.bmp" class="card__image_02">                  
                      12345678UX120-E001-C52-TMC-SPT.ini</br>
                      1200mm</br>
                      120kg</br>
                    </div>
                  <!-- Safe zone ends -->
                </div>
              </div>
              <div class="item KHI" data-color="2000mm" data-title="200kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 2<br />(orange)
                  </div>
                </div>
              </div>
              <div class="item YASKAWA" data-color="2000mm" data-title="200kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 3<br />(banana apple)
                  </div>
                </div>
              </div>
              <div class="item KHI" data-color="1000mm" data-title="120kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 4<br />(grape orange)
                  </div>
                </div>
              </div>
              <div class="item KHI" data-color="770mm" data-title="90kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 5<br />(strawberry)
                  </div>
                </div>
              </div>
              <div class="item NACHI" data-color="1220mm" data-title="105kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 6<br />(cherry banana)
                  </div>
                </div>
              </div>
              <div class="item KHI" data-color="1040mm" data-title="105kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 7<br />(melon apple)
                  </div>
                </div>
              </div>
              <div class="item FANUC" data-color="900mm" data-title="95kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 8<br />(kiwi)
                  </div>
                </div>
              </div>
              <div class="item YASKAWA" data-color="2100mm" data-title="290kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 9<br />(watermelon)
                  </div>
                </div>
              </div>
              <div class="item NACHI" data-color="3000mm" data-title="2000kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 10<br />(pineapple)
                  </div>
                </div>
              </div>
              <div class="item YASKAWA" data-color="2500" data-title="100kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 11<br />(NACHIberry)
                  </div>
                </div>
              </div>
              <div class="item KHI" data-color="1400mm"  data-title="150kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 12<br />(peach)
                  </div>
                </div>
              </div>
              <div class="item FANUC" data-color="990mm" data-title="190kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 13<br />(lemon)
                  </div>
                </div>
              </div>
              <div class="item FANUC" data-color="1800mm" data-title="210kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 14<br />(grapefruit)
                  </div>
                </div>
              </div>
              <div class="item YASKAWA" data-color="1890mm" data-title="250kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 15<br />(guava)
                  </div>
                </div>
              </div>
              <div class="item KHI" data-color="2400mm" data-title="350kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 16<br />(yellow strawberry)
                  </div>
                </div>
              </div>
              <div class="item YASKAWA" data-color="2500mm" data-title="220kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 17<br />(avocado)
                  </div>
                </div>
              </div>
              <div class="item YASKAWA" data-color="2130mm" ata-title="190kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 18<br />(grape)
                  </div>
                </div>
              </div>
              <div class="item NACHI" data-color="1900mm" data-title="130kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 19<br />(peach banana)
                  </div>
                </div>
              </div>
              <div class="item NACHI" data-color="910mm" data-title="30kg">
                <div class="item-content">
                  <div class="custom-content">
                    Item 20<br />(grape)
                  </div>
                </div>
              </div>
            </div><!-- grid -->
        </br>
        </br>
        </br>
        <footer>
            <a>Toyota Production Engineering</a>
        </footer>
      </section><!-- grid-wrapper -->
    </div><!-- wrapper -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.6/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.3/dist/muuri.min.js"></script>
  
  
  
  <script>
     document.addEventListener('DOMContentLoaded', function () {
    var grid = null,
        wrapper = document.querySelector('.grid-wrapper'),
        searchField = wrapper.querySelector('.search-field'),
        filterField = wrapper.querySelector('.filter-field'),
        sortField = wrapper.querySelector('.sort-field'),
        gridElem = wrapper.querySelector('.grid'),
        searchAttr = 'data-title',
        filterAttr = 'data-color',
        searchFieldValue,
        filterFieldValue,
        sortFieldValue,
        dragOrder = [];
  
    // Init the grid layout
    grid = new Muuri(gridElem, {
      dragEnabled: true
    });
    
    // Set inital search query, active filter, active sort value and active layout.
    searchFieldValue = searchField.value.toLowerCase();
    filterFieldValue = filterField.value;
    sortFieldValue = sortField.value;
  
    // Search field event binding
    searchField.addEventListener('keyup', function () {
      var newSearch = searchField.value.toLowerCase();
      if (searchFieldValue !== newSearch) {
        searchFieldValue = newSearch;
        filter();
      }
    });
  
    // Filter field event binding
    filterField.addEventListener('change', filter);
    
    // Sort field event binding
    sortField.addEventListener('change', sort);
  
    // Filtering
    function filter() {
      filterFieldValue = filterField.value;
      grid.filter(function (item) {
        var element = item.getElement(),
            isSearchMatch = !searchFieldValue ? true : (element.getAttribute(searchAttr) || '').toLowerCase().indexOf(searchFieldValue) > -1,
            isFilterMatch = !filterFieldValue ? true : (element.getAttribute(filterAttr) || '') === filterFieldValue;
        return isSearchMatch && isFilterMatch;
      });
    }
    
    // Sorting
    function sort() {
      // Do nothing if sort value did not change.
      var currentSort = sortField.value;
      if (sortFieldValue === currentSort) {
        return;
      }
  
      // If we are changing from "order" sorting to something else
      // let's store the drag order.
      if (sortFieldValue === 'order') {
        dragOrder = grid.getItems();
      }
  
      // Sort the items.
      grid.sort(
        currentSort === 'title' ? compareItemTitle :
        currentSort === 'color' ? compareItemColor :
        dragOrder
      );
      sortFieldValue = currentSort;
    }
    
    // Compare data-title
    function compareItemTitle(a, b) {
      var aVal = a.getElement().getAttribute(searchAttr) || '';
      var bVal = b.getElement().getAttribute(searchAttr) || '';
      return aVal < bVal ? -1 : aVal > bVal ? 1 : 0;
  
    }
  
    // Compare data-color
    function compareItemColor(a, b) {
      var aVal = a.getElement().getAttribute(filterAttr) || '';
      var bVal = b.getElement().getAttribute(filterAttr) || '';
      return aVal < bVal ? -1 : aVal > bVal ? 1 : compareItemTitle(a, b);
    }
  });
  
  </script>
  

  </body>
</html>